.cashRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .14rem;
    padding-bottom: .14rem;
    border-bottom: 1px solid var(--border-subtle);
}

.cashLabel {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-primary);
}

.cashAmount {
    font-family: var(--font-display);
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-primary);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  .2rem;
}

.item:last-child {
    border-bottom: none;
}

.checkLabel {
    position: relative;
    display: flex;
    align-items: center;
    gap: .3rem;
    flex: 1;
}

.checkbox {
    position: absolute;
    width: 0;
 
}

.checkmark {
    width: 1.3rem;
    height: 1.3rem;
    border: 1.5px solid var(--text-muted);
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s ease;
    color: #fff;
}

.checkmark.checked {
   border: none;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.itemLabel {
    font-size: .88rem;
    font-weight: 500;
    font-family: var(--font-display);
    color: var(--text-primary);
    white-space: nowrap;
}

.aumatedBadge {
    font-size: .8rem;
    color: var(--text-muted);
}

.itemAmount {
    font-size: .90rem;
    font-weight: bold;
    color: var(--text-secondary);
    font-family: var(--font-body);
}
